* {
  margin: 0;
  font-family: Pretendard;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

#home-nav {
  background: rgb(7, 23, 51);
  height: 5vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  box-sizing: border-box;
  display: none;
}

#nav-continer {
  position: fixed;
}
#home-left {
  display: flex;
  align-items: center;
}

#home-nav a {
  display: flex;
  align-items: center;
}

#home-nav a {
  margin-right: 1vw;
}

#home-nav-p {
  margin-left: 0.8vw;
}

#menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu li {
  margin-left: 2vw;
}

#menu li a {
  color: rgb(255, 255, 255);
  display: inline-block;
}

#menu li a:hover {
  color: rgb(255, 230, 0);
}

#menu-icon {
  cursor: pointer;
}

.shake {
  animation: shake-animation 0.5s;
}

@keyframes shake-animation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
/*======================= navbar css 끝 ======================*/

/* ====================abutme 구간 ===============================*/
#abutme {
  background-color: rgb(7, 23, 51);
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 0;
  flex-direction: column;
}

.typing {
  font-size: 40px;
}

.typing:after {
  display: inline-block;
  margin-left: 0.2vw;
  vertical-align: middle;
  background: #ffffff;
  content: "";
  width: 2px;
  height: 48px;
  animation: blink infinite 1s ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#abutme p {
  font-size: 2.8vh;
  margin: 30px 0;
  line-height: 1.5;
}

/*=================== profile 구간 ==========================*/
#profile-title {
  display: grid;
  align-items: center;
  justify-content: center;
}

#profile-title h1 {
  color: rgb(7, 23, 51);
  font-size: 40px;
}

#profile-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

#profile-img {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

#profile-content h1 {
  font-size: 30pt;
  color: rgb(7, 23, 51);
}

#profile-content-div p,
h2 {
  padding: 3px;
}

#profile-content-hr {
  width: 8px;
  height: 45px;
  background-color: rgb(255, 230, 0);
  border: none;
  border-left: 4px solid rgb(255, 230, 0);
  margin-right: 10px;
}

#profile-content-hr2 {
  width: 8px;
  height: 45px;
  background-color: rgb(0, 140, 255);
  border: none;
  border-left: 4px solid rgb(0, 140, 255);
  margin-right: 10px;
}

#profile-content-line {
  border: 2px solid rgb(255, 255, 255);
}

#profile-div-box {
  display: flex;
  align-items: center;
}

#profile-content-div {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#profile-contentr {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

/* =================== skils 구간=========================*/
#skills-content {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 110vh;
  background-color: rgb(7, 23, 51);
}

#skills-content h1 {
  font-size: 40pt;
  color: rgb(255, 255, 255);
}
#skills-title {
  padding: 5vw;
}

#skills-box-container {
  margin-left: 40vh;
  align-items: center;
  justify-content: center;
}

#skills-li-box {
  display: flexbox;
  align-items: center;
  text-align: left;
  margin-bottom: 4vh;
}

#skills-li-box h3 {
  color: #ffffff;
  font-size: 28pt;
}

#skills-li-text {
  color: #ffffff;
  text-align: left;
  padding: 10px;
  line-height: 1.6;
}

/* ======================= Projects구간 ======================= */
#projects-content {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: rgb(255, 255, 255);
}

#projects-title {
  padding: 10px;
}

#projects-content h1 {
  color: rgb(7, 23, 51);
  font-size: 40pt;
  margin: 2vw;
}

#projects-li-btn1 h3,
#projects-li-btn2 h3 {
  font-size: 20px;
  line-height: 1.5;
}

#projects-li-btn1,
#projects-li-btn2 {
  color: #ffffff;
  font-size: 20pt;
  background: rgb(7, 23, 51);
  width: 80vh;
  height: 10vh;
  border-radius: 25px;
  margin: auto;
  padding: 10px;
  list-style-type: none;
  cursor: pointer;
  border: none;
}

#projects-li-btn1:hover,
#projects-li-btn2:hover {
  color: rgb(7, 23, 51);
  background: rgb(255, 230, 0);
}

/* ================== 모달 ====================*/
.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: initial !important;
  overflow-y: hidden;
}
.modal-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.modal-content {
  all: unset;
  position: relative;
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  top: 0;
  width: 60%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  max-width: 100vh;
  max-height: 80vh;
  overflow: auto;
}

.modal-content::-webkit-scrollbar {
  width: 12px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: rgb(255, 230, 0);
  border-radius: 10px;
}

.modal-content::-webkit-scrollbar-track {
  background: #ffffff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.closeModal {
  background-color: rgb(7, 23, 51);
  color: #ffffff;
  border-radius: 8px;
  border: none;
  width: 60px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* =================== 모달 내용 구간 ======================*/
#modal-content-box {
  display: flexbox;
  align-items: center;
  text-align: left;
  line-height: 1.6;
  color: rgb(7, 23, 51);
  padding: 20px;
}

#modal-content-box h2 {
  font-size: 25px;
  color: rgb(7, 23, 51);
}

#modal-content-box h3 {
  font-size: 18px;
  color: rgb(7, 23, 51);
}

#modal-hr {
  border-color: rgb(230, 228, 226);
}

/* =========== footer ===========*/
footer {
  width: 100%;
  height: 10vh;
  background-color: rgb(130, 139, 151);
  color: #ffffff;
  display: grid;
  text-align: center;
  align-items: center;
  margin: auto;
  line-height: 1.6;
}

/* =========== 태블릿으로 봤을 때 ==========*/

@media screen and (max-width: 1200px) {
  #home-nav {
    font-size: 14px;
  }

  #home-left img {
    width: 28px;
    height: 28px;
  }

  .typing {
    font-size: 30px;
  }

  .typing:after {
    content: "";
    height: 32px;
  }

  #abutme p {
    font-size: 23px;
  }

  /* ========== 프로필 ========= */

  #profile-content {
    height: 80vh;
    font-size: 14px;
  }

  #profile-img {
    width: 230px;
    height: 230px;
    margin-right: 80px;
  }

  #profile-content h1 {
    font-size: 25pt;
  }

  #profile-content-div p,
  h2 {
    padding: 3px;
  }

  #profile-content-hr {
    width: 6px;
    height: 40px;
    background-color: rgb(255, 230, 0);
    border-left: 3px solid rgb(255, 230, 0);
    margin-right: 9px;
  }

  #profile-content-hr2 {
    width: 6px;
    height: 40px;
    background-color: rgb(0, 140, 255);
    border-left: 3px solid rgb(0, 140, 255);
    margin-right: 9px;
  }

  #profile-content-line {
    border: 2px solid rgb(255, 255, 255);
  }

  #profile-content-div {
    margin-left: 8px;
  }

  /* ========= 스킬 구간 ======== */
  #skills-content {
    height: 100vh;
    font-size: 16px;
  }

  #skills-content h1 {
    font-size: 30px;
  }

  #skills-box-container {
    margin-left: 20vh;
  }

  #skills-li-box {
    margin-bottom: 25px;
  }

  #skills-li-box h3 {
    font-size: 18pt;
  }

  #skills-li-text {
    padding: 5px;
    line-height: 1.4;
  }

  /* ========= 프로젝트 구간 ========= */

  #projects-content {
    height: 60vh;
  }

  #projects-content h1 {
    font-size: 30pt;
  }

  #projects-li-btn1,
  #projects-li-btn2 {
    width: 60vw;
    height: 8vh;
    border-radius: 15px;
  }

  #projects-li-btn1 h3,
  #projects-li-btn2 h3 {
    font-size: 17px;
    line-height: 1.4;
  }

  /* ========= 모달 ========= */

  ul,
  li {
    margin: 0px;
    padding: 0px;
  }

  .modal-content {
    border-radius: 10px;
    font-size: 14px;
  }

  #modal-li-box img,
  video {
    width: 480px;
  }

  .modal-content::-webkit-scrollbar {
    width: 10px;
  }

  .modal-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  .modal-content::-webkit-scrollbar-track {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  footer {
    font-size: 14px;
    line-height: 1.4;
  }
}

@media screen and (max-width: 768px) {
  #home-nav {
    font-size: 13px;
  }

  #home-left img {
    width: 24px;
    height: 24px;
  }

  .typing {
    font-size: 30px;
  }

  .typing:after {
    content: "";
    height: 32px;
  }

  /* ========== 프로필 ========= */

  #profile-content {
    height: 100vh;
    font-size: 13px;
  }

  #profile-img img {
    width: 220px;
    height: 220px;
  }

  #profile-img {
    display: contents;
    margin-right: 40px;
  }

  #profile-content h1 {
    font-size: 20pt;
  }

  #profile-content-div p,
  h2 {
    padding: 2px;
  }

  #profile-div-box {
    display: grid;
    align-items: center;
    gap: 8px;
  }

  #profile-content-hr {
    width: 5px;
    height: 38px;
    background-color: rgb(255, 230, 0);
    border-left: 2px solid rgb(255, 230, 0);
    margin-right: 8px;
  }

  #profile-content-hr2 {
    width: 5px;
    height: 38px;
    background-color: rgb(0, 140, 255);
    border-left: 2px solid rgb(0, 140, 255);
    margin-right: 8px;
  }

  #profile-content-div {
    margin-left: 7px;
  }

  /* ========= 스킬 구간 ======== */
  #skills-content {
    height: 112vh;
    font-size: 13px;
  }

  #skills-content h1 {
    font-size: 25px;
  }

  #skills-box-container {
    margin-left: 20vh;
  }

  #skills-li-box {
    margin-bottom: 25px;
  }

  #skills-li-box h3 {
    font-size: 16pt;
  }

  #skills-li-text {
    padding: 5px;
    line-height: 1.4;
  }

  /* ========= 프로젝트 구간 ========= */

  #projects-content {
    height: 55vh;
  }

  #projects-content h1 {
    font-size: 25pt;
  }

  #projects-li-btn1,
  #projects-li-btn2 {
    width: 50vw;
    height: 11vh;
    border-radius: 12px;
  }

  #projects-li-btn1 h3,
  #projects-li-btn2 h3 {
    font-size: 14px;
    line-height: 1.4;
  }

  /* ========= 모달 ========= */

  .modal-content {
    border-radius: 10px;
    font-size: 13px;
  }

  #modal-li-box img,
  video {
    width: 400px;
  }

  .modal-content::-webkit-scrollbar {
    width: 7px;
  }

  .modal-content::-webkit-scrollbar-thumb {
    border-radius: 7px;
  }

  .modal-content::-webkit-scrollbar-track {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  ul,
  li {
    margin: 0px;
    padding: 0px;
  }

  /* ======= 모달 컨텐츠 ======== */
  #modal-content-box {
    align-items: center;
    text-align: left;
    line-height: 1.4;
    padding: 10px;
  }

  #modal-content-box h2 {
    font-size: 22px;
  }

  #modal-content-box h3 {
    font-size: 16px;
  }

  footer {
    font-size: 13px;
    line-height: 1.3;
  }
}

/* =========== 아이폰 14 pro max 봤을 때 ==========*/
@media screen and (max-width: 430px) {
  #home-nav {
    font-size: 12px;
  }

  #home-left img {
    width: 24px;
    height: 24px;
  }

  .typing {
    font-size: 20px;
  }

  .typing:after {
    content: "";
    height: 22px;
  }

  #abutme {
    height: 100vh;
  }

  #abutme p {
    font-size: 14px;
  }

  /* ========== 프로필 ========= */

  #profile-content {
    height: 90vh;
    font-size: 10px;
  }

  #profile-img img {
    display: none;
  }

  /* #profile-content-all h1::after {
    content: "꿈꾸는 프론트엔드 개발자 \A 김하늘 입니다.";
    white-space: pre;
  }

  #profile-content-all p::after {
    content: "개발이란 분야에서 새로운 기술에 도전하는 것을 두려워 하지 않고, \A 변화에 수긍하며 어떠한 기술에서도 변화무쌍하게 \A 적응할 수 있는 꿈꾸는 개발자가 되겠습니다.";
    white-space: pre;
  } */

  #profile-content h1 {
    font-size: 16pt;
  }

  #profile-p {
    font-size: 10px;
  }

  #profile-content-div p,
  h2 {
    padding: 2px;
  }

  #profile-div-box {
    display: grid;
    align-items: center;
    gap: 8px;
  }

  #profile-content-hr {
    width: 5px;
    height: 38px;
    background-color: rgb(255, 230, 0);
    border-left: 2px solid rgb(255, 230, 0);
    margin-right: 8px;
  }

  #profile-content-hr2 {
    width: 5px;
    height: 38px;
    background-color: rgb(0, 140, 255);
    border-left: 2px solid rgb(0, 140, 255);
    margin-right: 8px;
  }

  #profile-content-div {
    margin-left: 7px;
  }

  /* ========= 스킬 구간 ======== */
  #skills-content {
    height: 75vh;
    font-size: 12px;
  }

  #skills-content h1 {
    font-size: 20px;
  }

  #skills-box-container {
    margin-left: 4vh;
    margin-right: 4vh;
  }

  #skills-li-box {
    margin-bottom: 25px;
  }

  #skills-li-box h3 {
    font-size: 14pt;
  }

  #skills-li-text {
    padding: 5px;
    line-height: 1.4;
  }

  /* ========= 프로젝트 구간 ========= */

  #projects-content {
    height: 60vh;
  }

  #projects-content h1 {
    font-size: 20pt;
  }

  #projects-li-btn1,
  #projects-li-btn2 {
    width: 55vw;
    height: 8vh;
    border-radius: 12px;
  }

  #projects-li-btn1 h3,
  #projects-li-btn2 h3 {
    font-size: 12px;
    line-height: 1.4;
  }

  /* ========= 모달 ========= */

  .modal-content {
    border-radius: 10px;
    font-size: 12px;
  }

  #modal-li-box img,
  video {
    width: 200px;
  }

  .modal-content::-webkit-scrollbar {
    width: 3px;
  }

  .modal-content::-webkit-scrollbar-thumb {
    border-radius: 3px;
  }

  .modal-content::-webkit-scrollbar-track {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  ul,
  li {
    margin: 0px;
    padding: 0px;
  }

  /* ======= 모달 컨텐츠 ======== */
  #modal-content-box {
    align-items: center;
    text-align: left;
    line-height: 1.4;
    padding: 5px;
  }

  #modal-content-box h2 {
    font-size: 14px;
  }

  #modal-content-box h3 {
    font-size: 12px;
  }

  footer {
    font-size: 12px;
    line-height: 1.3;
  }
}
