* {
  margin: 0;
  font-family: Pretendard;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

#home-nav {
  background: rgb(7, 23, 51);
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

#nav-continer {
  position: fixed;
}
#home-left {
  display: flex;
  align-items: center;
}

#home-nav a {
  display: flex;
  align-items: center;
}

#home-nav a {
  margin-right: 10px;
}

#home-nav-p {
  margin-left: 10px;
}

#menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu li {
  margin-left: 20px;
}

#menu li a {
  color: rgb(255, 255, 255);
  display: inline-block;
}

#menu li a:hover {
  color: rgb(255, 230, 0);
}

#menu-icon {
  cursor: pointer;
}

.shake {
  animation: shake-animation 0.5s;
}

@keyframes shake-animation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
/*======================= navbar css 끝 ======================*/

#click-message {
  cursor: pointer;
  color: rgb(7, 23, 51);
  text-align: center;
  margin-top: 40vh;
  font-size: 200px;
}

/* ====================abutme 구간 ===============================*/
#abutme {
  background-color: rgb(7, 23, 51);
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 0;
  transition: opacity 2.5s ease-in-out;
  flex-direction: column;
}

.typing {
  font-size: 40pt;
}
.typing:after {
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
  content: "";
  background: #ffffff;
  width: 2px;
  height: 48px;
  animation: blink infinite 1s ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#abutme p {
  font-size: 20pt;
  margin: 30px 0;
  line-height: 1.5;
}

/*=================== profile 구간 ==========================*/

#profile-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

#profile-img {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#profile-content h1 {
  font-size: 30pt;
  margin-right: 20px;
  color: rgb(7, 23, 51);
}

#profile-content-div p,
h2 {
  padding: 3px;
}

#profile-content-hr {
  width: 10px;
  height: 44px;
  background-color: rgb(255, 230, 0);
  border: none;
  border-left: 4px solid rgb(255, 230, 0);
  margin-right: 10px;
}

#profile-content-hr2 {
  width: 10px;
  height: 44px;
  background-color: rgb(0, 140, 255);
  border: none;
  border-left: 4px solid rgb(0, 140, 255);
  margin-right: 10px;
}

#profile-content-line {
  border: 2px solid rgb(255, 255, 255);
}

#profile-content-div {
  display: flex;
  align-items: center;
}

#profile-contentr {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

/* =================== skils 구간=========================*/

#skills-content {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(7, 23, 51);
}

#skills-content h1 {
  font-size: 40pt;
  color: rgb(255, 255, 255);
}
#skills-title {
  padding: 30px;
  margin-bottom: 40px;
}

#skills-box-container {
  margin-left: 40vh;
  align-items: center;
  justify-content: center;
}

#skills-li-box {
  display: flexbox;
  align-items: center;
  text-align: left;
  margin-bottom: 40px;
}

#skills-li-box h3 {
  color: #ffffff;
  font-size: 28pt;
}

#skills-li-text {
  color: #ffffff;
  text-align: left;
  padding: 10px;
  line-height: 1.6;
}

/* ======================= Projects구간 ======================= */
#projects-content {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

#projects-content h1 {
  color: rgb(7, 23, 51);
  font-size: 40pt;
  margin: 30px;
}

#projects-li-btn h3 {
  font-size: 22px;
  line-height: 1.5;
}

#projects-li-btn {
  color: #ffffff;
  font-size: 20pt;
  background: rgb(7, 23, 51);
  width: 80vh;
  height: 10vh;
  border-radius: 25px;
  margin: auto;
  padding: 10px;
  list-style-type: none;
  cursor: pointer;
  border: none;
}

#projects-li-btn:hover {
  color: rgb(7, 23, 51);
  background: rgb(255, 230, 0);
}

/* ================== 모달 ====================*/
.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: initial !important;
  overflow-y: hidden;
}
.modal-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.modal-content {
  all: unset;
  position: relative;
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  top: 0;
  width: 60%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  max-width: 100%;
  max-height: 80vh;
  overflow: auto;
}

.modal-content::-webkit-scrollbar {
  width: 12px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: rgb(255, 230, 0);
  border-radius: 10px;
}

.modal-content::-webkit-scrollbar-track {
  background: #ffffff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.closeModal {
  background-color: rgb(7, 23, 51);
  color: #ffffff;
  border-radius: 8px;
  border: none;
  width: 60px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* =================== 모달 내용 구간 ======================*/
#modal-content-box {
  display: flexbox;
  align-items: center;
  text-align: left;
  line-height: 1.6;
  color: rgb(7, 23, 51);
  padding: 20px;
}

#modal-content-box h2 {
  font-size: 25px;
  color: rgb(7, 23, 51);
}

#modal-content-box h3 {
  font-size: 18px;
  color: rgb(7, 23, 51);
}

#modal-hr {
  border-color: rgb(230, 228, 226);
}
